.table {
    display: flex;
    flex-direction: column;
    min-width: 50%;
}
.navbar {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    align-items: center;
}
.navLink {
    color: black;
    text-decoration: none;
    font-weight: 600;
    padding: 5px 20px;
}
.navLink:hover {
    box-shadow: 0 0 3px 3px rgba(63, 81, 181, 0.27);
    border-radius: 5px;
    padding: 5px 20px;
}
.navLink.activeLink {
    color: white;
    background-color: rgba(63, 81, 181, 0.27);
    border-radius: 5px;
    padding: 5px 20px;
}
.outputCard {
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 10px 20px;
    background-color: rgba(63, 81, 181, 0.27) !important;
}
.outputs {
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}